 <!---Login section-->
 <div class="login-container">
    <% if (message) { %>
      <div class="alert alert-danger col-sm-12"><%= message %></div>
   <% } %>
    <form class="form-signin" action = "/login" method = "POST">
        <img class="mb-4 accountImg" src="/images/account_circle-24px.svg" alt="" width="72" height="72">
        <input type="email" id="inputEmail" class="form-control" placeholder="Enter an Email" name="email">
        <br>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" name="password">
        <br>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
        <hr>
    </form>
      <!-- sign up section-->
        <!-- Button -->                                       
        <div class="createaccount">
            <span for="">Don't have an account!</span>&nbsp;
            <span id="accountcolor">Create An Account</span>
            <!-- <button id="btn-signup" type="submit" class="btn btn-dark "><i class="icon-hand-right"></i>Sign Up</button> -->
            <hr>
            <label id="forgotpass">Forgot Password?</label>
        </div>
</div>
<!-- js file -->
<script>
const signBtn = document.querySelector('#accountcolor');
signBtn.addEventListener('click', () => {
    window.location.href = "/signup"; 
});
</script>  