<header>
    <!-- tags for the main navigation menu-->
    <div> 
        <ul>
            <li class="spanheader"><span ><%= header %></span></li>
        </ul> 
    </div>
        <nav>
            <ul class="list-container">
                <li class="liMain"><a href="/draft_home">Home</a></li>
                <li class="liMain"><a href="/draft">Draft</a></li>
                <li class="liMain"><a href="/owners_signup">Team Managers</a></li>
                <li class="liMain"><a href="/view_profiles">Views</a></li>
                <li class="liMain"><a href="/summary">Summary</a></li>
                <li class="liMain" id="logout"><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div >
</header>
