<div class="create-container">
  <% if (message && !login) { %>
    <div class="alert alert-danger col-sm-12"><%= message %></div>
    <% } else if (message && login){ %>
      <div class="alert alert-primary col-sm-12"><%= message %><a href="/login"><%= login %></a></div>
     <% } %>

    <form class="form-horizontal createstyle" action="signup" method="POST">
        <label >Create a new Account</label>
        <hr>
          <input type="text" id="inputUsername" class="form-control" placeholder="Enter username" name="username">
          <br>
          <input type="text" id="inputFirstName" class="form-control" placeholder="Enter First Name" name="firstName">
          <br>
          <input type="text" id="inputLastName" class="form-control" placeholder="Enter Last Name" name="lastName">
          <br>
          <input type="email" id="inputEmail" class="form-control" placeholder="Enter Email" name="email">
          <br>
          <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" name="password">
          <br>
          <input type="password" id="inputPasswordTwo" class="form-control" placeholder="Re-Type Password" name="password_confirm">
          <br>
          <hr>
        <div class="controls">
          <button class="btn btn-dark">Register</button>
        </div>
    </form>
</div>