html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
} 

body {
  background-color:rgb(248, 248, 243) !important;
}

/*
* this the color i am going to use on FBL website  #c4de00 -> dark yellow
* this is #000000 --> Dark color
*/

.container {
    /* color : #edece8; */
    margin-left: 50%;
    margin-top: -2em;
}
.justify-content-center, #fbar {
    background-color: #000000;
    color: #edece8;
    font-style: normal;
    font-size: 18px;
    height: 45px;
}

/** ------------*/

.ulMain {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c4de00;
  height: 50px;
}

.liMain {
  float: left;
}

.liMain a {
  display: block;
  color: #000000 ;
  text-align: center;
  padding: 14px 16px;
  font-weight: 500;
  text-decoration: none;
}

.liMain a:hover  {
  background-color: #d7eb2d;
 
}

#burger {
  padding: 12.5px;
  margin-left: 5px;
  background-color: transparent;
}

.accountbtn {
  background-color: #c4de00;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #d7eb2d;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .accountbtn {
  background-color: #c4de00;
}

.dropdown{
  float: right;
  position: fixed;
  bottom: 45px;
}

#store {
  margin-left: 33em;
}

#items {
  position: fixed;
  background-color: black;
  border: 2px solid #c4de00;
  color: #c4de00;
  height: 180px;
  width: 12%;
  bottom: 59.5%;
  padding-top: 10px;
  padding-left: 10px; 
}

/*
* styling for activity 
*/

.forecast{
  float: right;
  border: 2px solid #c4de00;
  background-color: grey;
  width: 17.5em;
}
#location {
  width: 9.5em;
}

.colorActitvity, .activity {
  background-color: black;
  color: #c4de00;
  padding-left: 28%;
  font-style: normal;
  font-size: 18px;
  height: 35px;
}

.datainput {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.forecast-button {
  background-color: black;
  color: #c4de00;
 
}

.outputCityInfos  {
 color: black;
 padding-left: 10px;
 background-color: rgb(235, 235, 205);
}
.category {
  color: black;
}

.options {
  display: flex;
  height: 2em;
  background-color: grey;
  margin-top : -0.5em;
}

#solo {
  width: 7em;
}
#team {
  width: 7em;
}
#all {
  width: 6em;
}

.selected {
  background-color: #c4de00;
  ;
}

.results, #listAll {
  list-style-type: none;
  height: 10em;
  font-size: 15px;
  background-color: rgb(235, 235, 205);
  
}


/** implementing the Method 2 of the burger menu*/

.burger-items {
  position: absolute;
  background: black;
  top: 6em;
  width: 15em;
  height: 25em;
  overflow: hidden;
  padding-top: 1em;
  margin-left: -1em;
  /* hide the menu above the screen by default */
  transform: translate(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.5s ease;
}

.navburger {
  list-style-type: none;

}

.liBurger a{
  color: #c4de00;
}

/* show the menu */
.showNav {
  transform: translate(0);
}

hr.lihr {
  background-color: #c4de00;
  margin-right: 5em;
}

/*team List styling*/

.team_list_scroll  {
  margin-left: -3.5em;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  height: 470px;
  
}

.team_list_scroll img{
  width: 54px;
  height: 35px;
}
/* .teamList {
  margin-left: -4em;
} */

/* team details styling*/

.container {
  display: flex;
  padding-top: 5em;
}

.team_details {
  /* margin-top: 5em; */
  margin-left: 1.2em;
}
.logo {
  height: 20px;
}

/*testing class*/

.open {
  max-height: 50px;
  border: 1px solid white;
}










