html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
} 

body {
  background-color:rgb(250, 250, 242) !important;
}

/*
* this the color i am going to use on FBL website  #c4de00 -> dark yellow
* this is #000000 --> Dark color
*/

.container {
    margin-left: 50%;
    margin-top: -2em;
}
header {
  color: white;
  background:  url(../images/black_bb.jpg) no-repeat center center;
  background-size: cover;
  height: 7.5em;
  position: sticky;
  top: 0;
}
/**
** search bar styling ******
*/
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spanheader {
  list-style-type: none;
  margin-top: 1.5em;
  margin-left: 8em;
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

.searchteam{
  margin-top: -1.5em;
  width: 200px !important;
  margin-left: 60% !important;
}


/** -----nav styling-------*/

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #c4de00;
  height: 50px;

}
.list-container .liMain a{
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: verdana, sans-serif;
  text-align: center;
  padding: 14px 16px;
  font-weight: 550;
  color: black;
  display: inline-block;
  border: 2px solid #a2b800;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
  text-decoration: none;
  background-color:#c4de00;
}
.liMain a:hover {
 background-color: #edece8;
}

.accountbtn {
  background-color: #c4de00;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'PT Serif', serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #d7eb2d;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .accountbtn {
  background-color: #c4de00;
}

.dropdown{
  float: right;
  position: fixed;
  bottom: 45px;
  margin-right: 1em;
}

#items {
  position: fixed;
  background-color: black;
  border: 2px solid #c4de00;
  color: #c4de00;
  height: 180px;
  width: 12%;
  bottom: 59.5%;
  padding-top: 10px;
  padding-left: 10px; 
}

/*
* styling for activity 
*/

.forecast{
  float: right;
  border: 2px solid #c4de00;
  background-color: grey;
  width: 16.5em;
}

.colorActitvity, .activity {
  background-color: black;
  color: #c4de00;
  padding-left: 25%;
  font-style: normal;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  height: 35px;
}

#location {
  width: 9.5em;
  margin-bottom: 2px;
}
.forecast-button, .clear-button {
  background-color: black;
  border-radius: 10px;
  font-size: 12px;
  border: solid black;
  color: #c4de00;
  font-family: 'PT Serif', serif;
}

.outputCityInfos  {
 color: black;
 padding-left: 10px;
 background-color: rgb(235, 235, 205);
}
.category {
  color: black;
}
.options {
  display: flex;
  height: 2em;
  background-color: grey;
  margin-top : -0.5em;
}

#solo, #team {
  width: 7em;
}
#all {
  width: 6em;
}

.selected {
  background-color: #c4de00;
  ;
}
.results {
  background-color: rgb(235, 235, 205);
  height: 9em;
}

#listAll {
  list-style-type: none;
  font-size: 14px;
  font-family: 'PT Serif', serif;
  columns: 2;
  padding-left: 8px;
  padding-right: 4px;
}

/** 
*implementing the Method 2 of the burger menu
*/

.burger-items {
  position: fixed;
  background: black;
  top: 3.1em;
  width: 15em;
  height: 25em;
  overflow: hidden;
  padding-top: 1em;
  /* hide the menu above the screen by default */
  transform: translate(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.5s ease;
}

#burger {
  padding: 12.5px;
  margin-left: 5px;
  background-color: transparent;
}

.navburger {
  list-style-type: none;

}

.liBurger a{
  color: #c4de00;
}

/* show the menu */
.showNav {
  transform: translate(0);
}

hr.lihr {
  background-color: #c4de00;
  margin-right: 5em;
}
/** team styling container*/
.container {
  display: flex;
  flex-direction: row;
  padding-top: 4em;
}

/*team List styling*/
.team_list_scroll  {
  margin-left: -3.5em;
  overflow-x: hidden;
  overflow-y: auto;
  width: 250px;
  height: 470px;
  
}

/**styling for the loaded team page*/
.team_details {
  /* margin-top: 5em; */
  margin-left: 1.2em;
}

.team_list_scroll img{
  width:38px;
  height: 35px;
}
.team_list_scroll p {
  border: 1px solid #ddd;
  background-color: rgb(250, 250, 242);
}
.logo a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'PT Serif', serif;
  color: black;
}

/*testing class*/

.open {
  max-height: 50px;
  border: 1px solid white;
}

/*
* Players styling section
*/

.searches-tables-container{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(250, 250, 242) ;
  background-color: rgba(240, 240, 238, 0.945);
  margin: 6em 30px 30px 30px;
  padding-left: 35px;
  padding-right: 35px;
}

.title-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3em;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.border-right {
  width: 15em;
}

.college {
  width: 16em;
}

#playersh2 {
  font-family: 'PT Serif', serif;
}

/*
* login styling section
*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  font-family: 'PT Serif', serif;
  margin: 0 auto;
}
.accountImg {
  margin-left: 6.5em;
}
.col-md-9 label {
  color: #3495eb;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
.col-md-9 span {
  color: #02192e;
  font-family: 'PT Serif', serif;
  font-size: 14px;
}
/**
* this the styling for the trivia home page
*/

.trivia {
  display: flex;
  flex-direction: column;
}
.trivia h1 {
  text-align: center;
  border-radius: 15px;
  border: 10px solid transparent;
  width: 25%;
  margin: auto;
  background-color: black;
  color: white;
  font-family: 'PT Serif', serif;
}
.trivia p {
  width: 25%;
  margin: auto;
  font-family: 'PT Serif', serif;
}
.trivia .btn {
  margin-left: 45%;
  width: 7em;
  background-color:  #c4de00 !important;
  color: black !important;
  font-family: 'PT Serif', serif;
}

/**
* section styling for account creation
*/

.form-container {
  position: fixed;
  border: 2px solid rgb(250, 250, 242);
  background-color: rgb(225, 226, 216);
  width: 30%;
  margin: 1em 0 2em 34%;
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
.formstyle {
  padding: 10px 0 2em 0;
}
.form-container .control-group, #legend {
  margin-left: 23%;
}
#legend legend {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}
