
  body {
    font-family: 'Roboto Slab', serif;
    background-color: #d4d4c2;
  }

  #fbar {
    background-color: #000000;
    color: #edece8;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    height: 45px;
    margin-top: -14px;
    padding-top: 0.2px;
  }

/*styling for the back button*/
#back a {
    margin-left: 3%;
    border: 2px solid #e6e6d4;
    background-color: black;
    color: #edece8;
    width: 7%;
    padding: 8px 8px;
    font-size: 16px;
}

ul {list-style-type: none;} 

/*styling the button*/

#quizContainer {  
    /* position: absolute; */
    height: 400px;
    width: 450px;
    margin-top: 5%;
    margin-left: 30%;
    border: 1px solid #e6e6d4;
    background-color: rgb(216, 215, 206);
    /* transform: translateX(-50%) translateY(-50%); */
}
 #title {
     margin-top: -20px;
     text-align: center;
     border: 2px;
     color: blanchedalmond;
     background-color: black;
 }

#quiz > h4 {
    padding-top: 2px;
    font-size: 18px;
    text-align: center;
}
.multiOption  {
    display: block;
    padding: 3px 0 10px 15px;
    width: 200px;
    padding-left: 8em;
}

#prev, #next {
    margin-left: 25%;
    margin-top: 5px;
    width: 65px;
    background-color: black;
    color: blanchedalmond;
}

/*submit button styling*/
.hidden {
    display: none;
  
}

#submit {
    color: cornsilk;
    margin-left: 40%;
    margin-top: 20%;
    width: 85px;
    height: 45px;
    background-color: black;
    border-radius: 5px;
}

#results {
    margin-top: -35%;
    margin-left: 35px;
    border: 2px solid black;
    width: 140px;
}
#scoretitle {
    position: relative;
    background-color: black;
    color : blanchedalmond;
    text-align: center;
    height: 35px;
    padding-top: -2%;

}
#results > label {
    color: black;
    font-weight: bold;
    margin-left: 4em;
}


