
  body {
    background-color:rgb(250, 250, 242) !important;
  }
/*styling the header*/
header {
    color: blanchedalmond;
    background:  url(../images/black_bb.jpg) no-repeat center center;
    background-size: cover;
    height: 4.5em;
    padding-top: 1em;
    position: sticky;
    top:0;
  }

#titleheader {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin-left: 8em;
    margin-right: 1em;
  }

/*styling for the back button*/
#back a {
    text-decoration: none;
    font-family: 'PT Serif', serif;
    width: 7%;
    margin-left: 85%;
    color: blanchedalmond;
}


ul {list-style-type: none;} 

/*styling the title, quiz and answers*/
.main-container {
    display: flex;
    height: 50%;
    justify-content: center;
    flex-direction: column;
}

.section-container {
    display: flex;
    height: 50%;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.column {  
    margin: 2em;
    border: 1px solid #e6e6d4;
}

#col1 {
    order: 1;
    width: 150px;
    height: 82px;
    text-align: center;
    margin-top: 12%;
    background-color: rgb(204, 200, 200);
    
  }
#col2 {
    order: 2;
    /* margin-top: -2em; */
    height: 460px;
    width: 700px;
    background-color: rgb(223, 223, 223);
   
  }
#col3 {
    order: 3;
    color: black ;
    border-radius: 5px;
    background-color: rgb(6, 207, 207);
    margin-top: 12%;
    width: 97px;
    height: 25px;
    font-size: 15px;
    padding-left: 3px;
    font-family: 'PT Serif', serif;
  }

#title h2 {
     text-align: center;
     color: blanchedalmond;
     background-color: black;
     font-family: 'PT Serif', serif;
     font-size: 22px;
     padding: 5px;
 }

#quiz > h4 {
    /* padding-top: 2px; */
    font-size: 23px;
    margin-left: 10%;
    font-family: 'Redressed', cursive;
}
.multiOption  {
    display: block;
    width: 250px;
    margin: 1em 0 0 6.5em;
    
}

.multiOption label {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    margin-top: -5em;
}

/*styling for the prev and next button*/
.btncontainer{
    margin-left: 32%;
    width:50%;
    font-family: 'PT Serif', serif;
}

#next {
    margin-left: 3em;
    width: 80px;
    border-radius: 8px;
    border: transparent;
    font-size: 16px;
}

#prev {
    border-radius: 8px;
    border: transparent;
    font-size: 16px;
}

/*submit button and score styling*/
.hidden, .summaryColor{
    display: none;
  
}

.correctColor {
    display: flex;
    margin-left: 32%;
    font-family: 'PT Serif', serif;
    margin-top: 2em;
}
.correctColor img {
    height: 12px;
    width: 50px;
}

#submit {
    color: cornsilk;
    margin-left: 22%;
    margin-top: 40%;
    width: 85px;
    height: 45px;
    background-color: black;
    border-radius: 5px;
    font-family: 'PT Serif', serif;
}

#scoreTitle h4 {
    background-color: black;
    font-size: 17px;
    color: blanchedalmond;
    font-family: 'PT Serif', serif;
}

#scoreOutput, #scoreSummary {
    color: black;
    font-weight: bold;
    padding-bottom: -5em;
    font-family: 'PT Serif', serif;
    font-size: 15px;
}

.reviews h4 {
    border-radius: 15px;
    border: 2px solid rgb(160, 156, 156);
    background-color: rgb(6, 207, 207);
    color: #0d2959; 
    width: 200px;
    margin-left: 35%;
    margin-top: 20%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'PT Serif', serif;
}

.outputQuestions h4 {
    font-family: 'PT Serif', serif;
    padding-left: 1em;
    padding-top: 1.4em;
    font-size: 18px;
    font-weight:bold;
    
}
.outputAnswers label{
    padding-left: 1.5em;
    font-family: 'PT Serif', serif;
    font-size: 15px;
}
 






