
h1 {
    text-align: center;
    border-radius: 15px;
    border: 10px solid transparent;
    width: 25%;
    margin: auto;
    background-color: black;
    color: white;
    font-family: 'PT Serif', serif;
}
p {
    width: 25%;
    margin: auto;
    font-family: 'PT Serif', serif;
}
.btn {
    margin-left: 45%;
    background-color:  #c4de00 !important;
    color: black !important;
    font-family: 'PT Serif', serif;
}

