<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <%- include('../partials/loginBody'); %>

 <!-- external js file-->
<!-- <script src="js/fbl_players.js" charset="utf-8"></script>    -->
</body>
</html>
