<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/session_head'); %>
<body>
    <%- include('../partials/session_header'); %>
    <br><br>
    <%- include('../partials/draft_body'); %>
</body>
</html>