<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

    <br>
    <div class="trivia">
        <h1>Welcome Trivia</h1><br><br>
        <p>This Trivia game is based on general basketball questions in US.
            One question with multiple choice answers will be presented to you.
            There will be a next and previous button so you could move back and forth through the questions.
            the correct answer will be displayed on the page along  with your score
        </p>
        <br><br>
    
     <button type="button" class="btn btn-success">Start Trivia</button>
    
    </div>

<script src="js/openQuiz.js" charset="utf-8"></script>
</body>
</html>